<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
          <input type="textarea" v-model="notes">
          <button v-on:click="addNotes">add notes</button>
       </div>
       <div>
           <button @click="show">show all</button>
           <div v-if="showNotes">
              <p class="block"> {{arrNotes[0]}} <button @click="deleteNotes" class="lock">delete</button></p>
              <p class="block"> {{arrNotes[1]}} <button @click="deleteNotes" class="lock">delete</button></p>
              <p class="block"> {{arrNotes[2]}} <button @click="deleteNotes" class="lock">delete</button></p>
           </div>
            <div v-else>
                <div v-for="item in arrNotes">
                  <p class="block">{{item}} <button @click="deleteNotes" class="lock">delete</button></p>
                </div>
           </div>
       </div>
    </div>
<script src="./main.js"></script>
</body>
</html>